.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}
.blogpost{ 
    width: 300px; 
    border: 1px solid black; 
    font-size: 30px;
    align-items: flex-end;
}
.item_1 {
    flex-grow: 3; 
}
.item_2 {
    align-self:baseline;
}
